
/*barra-side-nav */

/* Estilo de la barra de desplazamiento */
.barra {
    width: 250px; /* Ancho personalizado */
    background-color: #BAFF76; /* Color de fondo personalizado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  

/*contenido */

.contenido{
    height: 100%;
}


.calendar{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 100%;
    
    
}


.fc-direction-ltr {
    height: 550px;
    direction: ltr;
    width: 860px;
    text-align: left;

    
}
.fc-day {
    width: 40px; /* Ancho de las celdas */
    height: 40px; 
   
    
}
.fc-event-title {
    font-size: 14px; /* Tamaño del texto */
 
   
}

/* Cambia el tamaño del título de las celdas */
.fc-daygrid-day-top .fc-day-number {
    font-size: 16px; /* Tamaño del texto de las celdas */
  
}



  
.fc-daygrid-day-number {
    text-decoration: none;
  }
  
a{
    text-decoration: none;
}

.calendar-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    text-decoration: none;
  }
.imagen-logo{
    width: 200px;
}

 /* botones class */
 .boton-side{
    width: 250px;
    height: 50px;
    background-color: #BAFF76;
 }

 .boton-agregar-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .boton-agregar{
    background-color: white;
    color: black;
    display: flex;
    gap: 4px;

    border:  1px solid black;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 21px;
 }
 .boton-agregar:hover{
    background-color:#F4F6F6 ; 
    border: black;
 }
 .boton-agregar:active{
    border:   1px solid black; 
 }

 .boton-mes{
    width: 254px;
    display: flex;
    justify-content: center;
    background-color:  #BAFF76;
    border: none;
    color: black;
    font-size: 20px;
 }

 .boton-mes:hover{
    background-color:  #D1FFA0;
 }

 .boton-mes:active,
 .boton-mes:focus {
  outline: none; /* Elimina el marco de enfoque */
  box-shadow: none; /* Elimina cualquier sombra o marco en clic */
}





 /*icons*/
 .icons{
    width: 30px;
 }

 /*card*/
.card{
    max-height: 500px;
    overflow-y: scroll;
    max-width: 1000px;
}
 /*botones update y dalete yable*/
 .button-function{
    display: flex;
    height: 30px;
    width: 120px;
    gap: 10px;
    
 }

 .butto{
    height: 30px;
 }

 .butto-delete{
    background-color: red;
 }

 .fc-event {
   border: none; /* Elimina el borde */
   /* Otros estilos personalizados, como el fondo o el color de fuente */
 }


 