<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap" rel="stylesheet">

  
</head>
<body>
  

  <!-- Utilizar el componente de modal Bootstrap -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened  class="barra">
    <div class="logo">
      <img src="assets/WhatsApp_Image_2023-10-10_at_10.56.40_AM-transformed.png" 
      alt="" class="imagen-logo"> 
    </div>

    <div class="boton-agregar-div">
      <button pButton pRipple class="boton-side" type="button" 
     class="boton-agregar"
      (click)="openModal()"> Agregar Evento <img src="assets/add-circle-svgrepo-com.svg" 
      alt="" class="icons"></button>
    </div>

    <div class="meses">
      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 1)"
          >Enero</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 2)"
          >Frebero</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 3)"
          >Marzo</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 4)"
          >Abril</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 5)"
          >Mayo</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 6)"
          >Junio</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 7)"
          >Julio</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 8)"
          >Agosto</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 9)"
          >Septiembre</button>
      </div>
 
      
      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 10)"
          >Octubre</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 11)"
          >Noviembre</button>
      </div>

      <div class="boton-agregar-div">
          <button pButton pRipple class="boton-side" type="button" 
          class="boton-mes"
          (click)="changeMonth(2023, 12)"
          >Diciembre</button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="contenido">
<p-tabView >
                <p-tabPanel header="Calendario" class="contenido">
                    <div class="calendar-container">
                      <div class="calendar" >
                        <full-calendar
                          #calendar
                          [options]="calendarOptions"
                          class="custom-calendar"
                        ></full-calendar>
                      </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Tabla" class="">
                    <div class="card">
                        <p-table  [value]="eventos"  >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Telefono</th>
                                    <th>Nit</th>
                                    <th>Email</th>
                                    <th>Direccion</th>
                                    <th>Inicio</th>
                                    <th>Finalizar</th>
                                    <th>Observacion</th>
                                    <th>Progreso</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                                <tr pRowGroupHeader>
                                   
                                </tr>
                                <tr>
                                    <td style="min-width: 100px;">
                                        {{customer.id}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        {{customer.nombre_empresa}}
                                    </td>
                                     <td style="min-width: 200px;">
                                        {{customer.telefono}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        {{customer.nit_empresa}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        {{customer.email}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        {{customer.direccion}}
                                    </td>
                                    
                                    <td style="min-width: 200px;">
                                        {{customer.inicio}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        {{customer.finalizar}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        {{customer.observacion}}
                                    </td>
                                    <td style="min-width: 200px;">
                                        <div class="col">
                                            <p-progressBar [value]="customer.barra" [showValue]="true" [style]="{ 'background-color': customer.color }"  >
                                            </p-progressBar>
                                        </div>
                                    </td>
                                    <td style="min-width: 200px;">
                                        <span class="button-function">
                                          
                                            <button pButton pRipple  icon="pi pi-undo" 
                                            class="butto-update"
                                            (click)="penModalWithFormData(customer)"></button>
                                            <button pButton pRipple
                                            icon="pi pi-trash" class="butto-delete"
                                            (click)="openDelete(customer)"></button>
                                        </span>
                                    </td>
                                    
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabPanel>

            </p-tabView>
  </mat-drawer-content>
</mat-drawer-container>

</body>
</html>
<script src="js/ .js"></script>