<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  
</head>
<body>
  

  <!-- Utilizar el componente de modal Bootstrap -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened  class="barra">
    <div class="logo">
      <img src="assets/WhatsApp_Image_2023-10-10_at_10.56.40_AM-transformed.png" 
      alt="" class="imagen-logo"> 
    </div>
    <button pButton pRipple class="boton-side" type="button" 
    label="Agregar Evento"  (click)="openModal()"></button>

  </mat-drawer>
  <mat-drawer-content>
    <div class="calendar-container">
      <div class="calendar" style="width: 800px; height: 600px;">
        <full-calendar
          #calendar
          [options]="calendarOptions"
          class="custom-calendar"
        ></full-calendar>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

</body>
</html>
<script src="js/es.js"></script>