.personalizado {
    font-size: 16px; /* Cambia el tamaño de la fuente según tus preferencias */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
    width: 300px; /* Cambia el ancho según tus preferencias */
    /* Otros estilos personalizados según tus preferencias */
  }

.formulario{
  display: flex;
  flex-direction: column;
  padding: 30px;

 

}

.modal-md .modal-dialog {
  max-width: 80%; 
  max-height: 80%; 
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.diagonal{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker {
  flex: 1; /* El campo de entrada de color ocupará el espacio restante a la izquierda */
}

.color-picker input[type="color"] {
  width: 30px; /* Ancho del campo de entrada */
  height: 30px; /* Alto del campo de entrada */
  border: none; /* Quita el borde del campo de entrada */
  border-radius: 50%; /* Aplica un borde redondeado para un aspecto atractivo */
  background: transparent; /* Fondo transparente */
}

.buttons-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}


  
  
  