<form [formGroup]="formulario" >
  <div class="formulario">

  <div class="form-group" >
    <div class="diagonal">
    
      <input   
      id="float-input" 
      type="text"
      formControlName="nombre_empresa" 
      placeholder="Nombre Empresa"
      pInputText>
    
      <input  
      class="diagonal"
      id="float-input" 
      type="number"
      formControlName="telefono"
      placeholder="Telefono"
      pInputText>
  
   </div>
  </div>
  <div class="form-group">
     <input   
     class="personalizado" 
      id="float-input" 
      type="email"
      formControlName="email" 
      placeholder="Email"
      pInputText>
     
      <input  class="personalizado" 
      id="float-input" 
      type="number"
      formControlName="nit_empresa"
      placeholder="Nit Empresa"
      pInputText>

      <input  class="personalizado" 
      id="float-input" 
      type="text"
      formControlName="direccion"
      placeholder="Direccion"
      pInputText>

  
  </div>

 
  <div class="form-group">
   
  </div>

  <div class="form-group">
    <div class="diagonal">
    <span class="p-float-label">
    
      <p-calendar [showIcon]="true"  dateFormat="yy-mm-dd" id="float-input" formControlName="inicio" ></p-calendar>
      <label for="float-input">Inicio</label>
    </span>
    <span class="p-float-label">
      <p-calendar [showIcon]="true" dateFormat="yy-mm-dd" id="float-input" formControlName="finalizar"></p-calendar>
      <label for="float-input">Finalizar</label>
    </span>
  </div>
  </div>

  
 
  <div class="form-group">
    <span class="p-float-label">
      <h5>Porcentaje</h5>
			<p-dropdown [options]="procentaje" 
      placeholder="Porcentaje"  formControlName="barra" [showClear]="true"></p-dropdown>
    </span>
    
  </div>

  <div class="form-group">
    
    <span class="p-float-label">
      <textarea rows="5"
       cols="35" 
       placeholder="Agregar Labor" 
       formControlName="observacion" 
       pInputTextarea></textarea>
      <label for="float-input">Observacion</label>
    </span>
  </div>

  <div class="botones">
    <div class="color-picker">
        <input type="color" id="colorPicker" name="colorPicker" formControlName="color">
    </div>
    <div class="buttons-container">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" (click)="create()"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="close()"></button>
    </div>
</div>


</div>
</form>
